/* Base */
html {
    min-height: 100%;
    position: relative;
    color: #767676;
}

body {
    font-size: 13px;
    line-height: 20px;
}

.container {
    max-width: 1050px;
}

a {
    color: #E70D0C;
}

a:hover {
    color: #000;
    text-decoration: none;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3, h4 {
    font-size: 16px;
}

h5, h6 {
    font-size: 15px;
    font-weight: normal;
}

hr {
    color: #808080;
}

/* Bootstrap custom */
.nav-tabs {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .navbar-default .navbar-form {
        width: 250px;
    }
}

.pi-navbar-nav ul {
    display: none;
}

@media (min-width: 768px) {
    .pi-navbar-nav li {
        position: relative;
    }

    .pi-navbar-caret {
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        z-index: 1002;
    }

    .pi-navbar-caret-outer {
        border-bottom: 8px solid #c2c2c2;
        bottom: 0;
        z-index: 1001;
    }

    .pi-navbar-nav li:hover > ul,
    .pi-navbar-nav li:hover .pi-navbar-caret {
        display: block;
    }

    .pi-navbar-nav ul .dropdown-menu {
        left: 100%;
        top: -5px;
    }
}

.btn-primary,
.btn-success,
.btn-info {
    color: #fff;
    background-color: #E70D0C;
    border-color: #E70D0C;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-success:focus,
.btn-success.focus,
.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #DC2716;
    border-color: #D51F11;
}

.btn-primary:hover,
.btn-success,
.btn-info:hover {
    color: #fff;
    background-color: #DC2716;
    border-color: #D51F11;
}

/* Block */
.pi-block {
    margin-bottom: 20px;
}

.pi-block-title {
    padding: 10px;
}

.pi-block-title h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.pi-panel-subline {
    float: right;
}

.pi-panel-tab .panel-heading {
    padding: 0;
    height: 40px;
}

.pi-panel-tab-indicators {
    margin: 0 0 -1px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.pi-panel-tab-indicators li {
    display: inline-block;
}

.pi-panel-tab-indicators a {
    padding: 0 15px;
    cursor: pointer;
    display: block;
    color: #333;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.pi-panel-tab-indicators li:first-child a {
    border-left: none;
}

.pi-panel-tab-indicators .active a {
    font-weight: bold;
    border-color: #ddd;
    background: #fff;
}

.panel-body > :last-child {
    margin-bottom: 0;
}

.panel-body ul,
.panel-body ol {
    /* margin-left: -20px; */
}

/* logger */
#pi-logger-output {
    position: relative;
}

/* list or order list */
.pi-list {

}

.pi-order-list {

}

/* Module custom */
.tag-terms a {
    padding: 0 5px;
}

/* Player */
.pi-player {
    padding: 10px 0;
}

.pi-player .video-js {
    margin: 0 auto;
}

.pi-map-canvas {
    height: 380px;
    margin-bottom: 30px;
}

/* Elements */
fieldset dl {
    margin-top: 0;
}

form .icon-question-sign {
    color: #0089D1;
    float: left;
    cursor: pointer;
    margin: 6px 0 0 1px;
    padding: 2px;
}

/* Components */
.page-header {
    margin: 0 0 15px 0;
}

.page-header h1,
.page-header h2 {
    margin: 0;
    font-size: 30px;
}

.page-header .nav {
    margin-bottom: 0;
}

.page-header .search-query {
    border-radius: 5px;
}

/** Pi Specific **/
/* Elements */
.dl-horizontal dt {
    width: 120px;
}

.dl-horizontal dd {
    margin-left: 140px;
}

/* ellipsis with rows/lines : line height is fixed */
.pi-ellipsis {
    overflow: hidden;
    display: block;
    line-height: 1.5;
}

/* Max 1 - 10 row(s)/line(s) */
.pi-ellipsis-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pi-ellipsis-2 {
    max-height: 3em;
}

.pi-ellipsis-3 {
    max-height: 4.5em;
}

.pi-ellipsis-4 {
    max-height: 6em;
}

.pi-ellipsis-5 {
    max-height: 7.5em;
}

.pi-ellipsis-6 {
    max-height: 9em;
}

.pi-ellipsis-7 {
    max-height: 10.5em;
}

.pi-ellipsis-8 {
    max-height: 12em;
}

.pi-ellipsis-9 {
    max-height: 13.5em;
}

.pi-ellipsis-10 {
    max-height: 15em;
}

/* Components */
.pi-divider {
    font-family: serif, sans-serif;
    margin: 0 6px;
    color: #ccc;
}

.pi-legend {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 9px 10px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
}

/* Box with border */
.pi-widget {
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
}

.pi-widget-header {
    padding: 5px 10px;
    background: #F8F8F8;
    border-bottom: 1px solid #d7d7d7;
}

.pi-widget-body {
    padding: 18px 20px;
}

.pi-widget-body > :last-child {
    margin-bottom: 0;
}

/* Avatar */
/* @see: https://github.com/pi-engine/pi/wiki/Design.Avatar */
.pi-avatar {
    width: 80px;
}

.pi-avatar-mini {
    width: 16px;
}

.pi-avatar-xsmall {
    width: 24px;
}

.pi-avatar-small {
    width: 28px;
}

.pi-avatar-medium {
    width: 46px;
}

.pi-avatar-large {
    width: 96px;
}

.pi-avatar-xlarge {
    width: 120px;
}

.pi-avatar-xxlarge {
    width: 214px;
}

/* header */
.pi-header {

}

.pi-header-body {
    background: #E70D0C;
}

.pi-header h1,
.pi-header h2 {
    padding: 1px;
    margin: 1px;
    font-size: 35px;
}

.pi-header .navbar-default {
    margin-bottom: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 0;
    background-color: #fff;
    border-color: #fff;
}

.pi-header .navbar-default .navbar-nav > .active > a,
.pi-header .navbar-default .navbar-nav > .active > a:hover,
.pi-header .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
}

@media (min-width: 1200px) {
    .pi-header-image {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 383px !important;
        margin: 0;
        padding: 0;
        min-width: 1250px !important;
        background: url('../image/header.jpg') no-repeat center center;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .pi-header-image {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 383px !important;
        margin: 0;
        padding: 0;
        min-width: 1199px !important;
        background: url('../image/header.jpg') no-repeat center center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .pi-header-image {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 383px !important;
        margin: 0;
        padding: 0;
        min-width: 991px !important;
        background: url('../image/header.jpg') no-repeat center center;
    }
}

@media (max-width: 767px) {
    .pi-header-image {
        padding: 15px 0;
        background: #E70D0C;
    }
}

.pi-header-image-box {
    margin-top: 100px;
    padding: 25px 15px;
    border: 1px solid rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: center;
}

.pi-header-image-box h2 {
    font-size: 15px;
    margin-bottom: 15px;
}

.pi-header .pi-header-social {
    padding-top: 10px;
    padding-right: 5px;
}

.pi-header .pi-header-social li a {
    font-size: 18px;
    text-align: center;
}

.pi-header .pi-header-social li a i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    color: #fff;
    background-color: #F93F40;
}

.pi-header-search-module {
    padding: 10px 0 0 0;
}

.pi-header-search-module .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.pi-header-search-module .input-group-btn .btn {
    font-size: 12px;
    padding: 5px 10px;
}

.pi-header .user-bar a {
    color: #fff;
}

.pi-header .user-bar a:hover {
    color: #333;
}

.pi-header-tabligh {
    background-color: #B5B5B5;
    padding: 45px 0;
    border-top: 5px solid #747474;
    border-bottom: 5px solid #747474;
}

.pi-header-tabligh .extra-item {
    background: #fff;
    padding: 5px;
}

/* section */
.pi-section {
    padding: 30px 0 50px 0 !important;
}

.pi-section .pi-module-content {
    padding: 15px;
    margin-bottom: 15px;
}

.pi-section .pi-breadcrumbs {
    background-color: #747474;
    color: #fff;
}

.pi-section .pi-breadcrumbs .list-inline {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.pi-section .pi-breadcrumbs .breadcrumb {
    background-color: #747474;
    margin-bottom: 0px;
    color: #fff;
}

.pi-section .pi-breadcrumbs .breadcrumb a {
    color: #fff;
}

/* footer */
.pi-footer {
}

.pi-footer-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 625px !important;
    margin: 0;
    padding: 0;
    min-width: 1250px !important;
    background: #E70D0C url('../image/footer.jpg') no-repeat center center;
    border-top: 15px solid #E70D0C;
    border-bottom: 15px solid #E70D0C;
}

@media (max-width: 767px) {
    .pi-footer-image {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: auto !important;
        margin: 0;
        padding: 0;
        min-width: 100% !important;
        background: #E70D0C;
        border-top: 15px solid #E70D0C;
        border-bottom: 15px solid #E70D0C;
    }
}

.pi-footer-image-text {
    padding: 100px 0;
}

.pi-footer-body {
    background: #E70D0C;
    padding: 50px 0;
    margin-top: 100px;
    color: #fff;
}

.pi-footer-body a {
    color: #fff;
}

.pi-footer-body a:hover {
    color: #000;
}

.pi-footer-body h4 {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}

.pi-footer-body ul li {
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 15px;
}

.pi-footer-body ul li i {
    font-size: 20px;
}

.pi-footer-copyright {
    padding: 25px 0;
}

.pi-footer-copyright-item {
    padding-top: 15px;
}

.footer-qrcode {
    text-align: center;
    padding-top: 50px;
}

/* pi-subscription */
.pi-subscription {
    background-color: #E70D0C;
    color: #fff;
    padding: 40px 15px;
    text-align: center;
}

.pi-subscription-text {
    padding: 15px 0;
}

/* pagination */
.pagination > li > a,
.pagination > li > span {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fff;
    background-color: #E70D0C;
    border-color: #E70D0C;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #fff;
    background-color: #E70D0C;
    border-color: #E70D0C;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
}

/* custom module */
.guide .itemTitle h1 {
    font-size: 20px;
}

.guide .itemHead .itemMainRating {
    margin: 1px 1px 1px 1px !important;
}

.guide .itemHead .itemTitle {
    float: right !important;
}

.guide .itemHead .itemScore {
    margin: 0 3px !important;
}

.guide .item-review-single {
    background: #EBEBEB;
    padding: 10px;
}

.guide .item-review-single h4 {
    color: #fff;
    background-color: #E70D0C;
    padding: 10px;
}

.guide .item-review-single .col-md-9 {
    border-right: 1px solid #747474;
}

.guide .item-review-single-admin {
    background-color: #E70D0C;
    color: #fff;
}

.guide .item-ribbon p span {
    background-color: #E70D0C;
    color: #fff;
}

.guide .item-sort {
    background-color: #E70D0C;
    color: #fff;
}

.guide .item-sort .list-inline {
    padding-bottom: 0;
    margin-bottom: 0;
}

.guide .item-review-single img {
    background: #fff;
    padding: 5px;
    margin: 25px 0;
}

.guide .item-angular-single {
    text-align: center;
    margin-bottom: 30px;
}

.guide .item-angular-single .item-angular-single-title {
    background-color: #E70D0C;
    color: #fff;
    padding: 5px;
    margin: 0;
}

.guide .item-angular-single .item-angular-single-title h2 {
    color: #fff;
    padding: 0;
    margin: 0;
}

.guide .item-angular-single .item-angular-single-title h2 a {
    color: #fff;
    padding: 0;
    margin: 0;
}

.guide .item-angular-single .item-angular-single-image img {
    height: 150px;
    width: 100%;
}

.guide .item-angular-single .item-angular-single-address {
    background-color: #EBEBEB;
    padding: 10px;
}

.guide .item-angular-single .item-angular-single-extra {
    background-color: #B5B5B5;
    padding: 10px;
    color: #fff;
}

.guide .item-angular-single .item-angular-single-extra i {
    font-size: 18px;
    margin: 0 10px;
}

.guide .item-single .item-head {
    background-color: #E70D0C;
    color: #fff;
    margin-bottom: 15px;
    padding: 10px;
}

.guide .item-single .list-inline {
    margin-bottom: 0;
    padding-bottom: 0;
}

.guide .item-single .item-head h1 {
    padding: 0;
    margin: 0;
}

.guide .item-single .thumbnail {
    border: 0;
    padding: 0;
}

.guide .item-single .itemMainRating,
.guide .item-single .itemMainRating i {
    color: #fff;
}

.guide .item-single .item-info-head {
    background-color: #E70D0C;
    color: #fff;
    margin-bottom: 15px;
    padding: 12px 10px;
}

.guide .item-single .item-info-head a {
    color: #fff;
}

.guide .item-single .item-box-head {
    background-color: #E70D0C;
    color: #fff;
    margin-bottom: 0;
    padding: 12px 10px;
    text-align: center;
    font-weight: bold;
}

.guide .item-single .item-box-head a {
    color: #fff;
}

.guide .item-single .item-box-info {
    background: #EBEBEB;
    padding: 10px;
}

.guide .item-single .item-box-scroll {
    height: 260px;
    overflow-x: auto;
}

.guide .item-single .item-box-info-image {
    width: 30%;
    float: right;
    margin-left: 10px;
    margin-top: -10px;
    margin-right: -10px;
}

.guide .item-single .item-box-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #EBEBEB;
}

.guide .item-single .item-box-scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #EBEBEB;
}

.guide .item-single .item-box-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.guide .item-single .well {
    min-height: 20px;
    padding: 0;
    margin-bottom: 0;
    background-color: inherit;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .05);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .05);
}

.itemUserActivity .favouritebar .btn-success {
    background-color: #E70D0C !important;
    border-color: #E70D0C !important;
}

.itemUserActivity .favouritebar .btn-success:hover,
.itemUserActivity .favouritebar .btn-success:focus,
.itemUserActivity .favouritebar .btn-success.focus,
.itemUserActivity .favouritebar .btn-success:active,
.itemUserActivity .favouritebar .btn-success.active {
    background-color: #E70D0C !important;
    border-color: #E70D0C !important;
}

.itemUserActivity .favouritebar .btn-primary {
    background-color: #E70D0C !important;
    border-color: #E70D0C !important;
    opacity: 1 !important;
}

.itemUserActivity .favouritebar .btn-primary:hover,
.itemUserActivity .favouritebar .btn-primary:focus,
.itemUserActivity .favouritebar .btn-primary.focus,
.itemUserActivity .favouritebar .btn-primary:active,
.itemUserActivity .favouritebar .btn-primary.active {
    background-color: #E70D0C !important;
    border-color: #E70D0C !important;
    opacity: 1 !important;
}

.itemUserActivity .checkinbar .btn-success {
    background-color: #E70D0C !important;
    border-color: #E70D0C !important;
}

.itemUserActivity .checkinbar .btn-success:hover,
.itemUserActivity .checkinbar .btn-success:focus,
.itemUserActivity .checkinbar .btn-success.focus,
.itemUserActivity .checkinbar .btn-success:active,
.itemUserActivity .checkinbar .btn-success.active {
    background-color: #E70D0C !important;
    border-color: #E70D0C !important;
}

.itemUserActivity .checkinbar .btn-primary {
    background-color: #E70D0C !important;
    border-color: #E70D0C !important;
    opacity: 1 !important;
}

.itemUserActivity .checkinbar .btn-primary:hover,
.itemUserActivity .checkinbar .btn-primary:focus,
.itemUserActivity .checkinbar .btn-primary.focus,
.itemUserActivity .checkinbar .btn-primary:active,
.itemUserActivity .checkinbar .btn-primary.active {
    background-color: #E70D0C !important;
    border-color: #E70D0C !important;
    opacity: 1 !important;
}

.itemSummary,
.news-item-block-summary,
.news-item-block-summary .p-summary,
.event-single-main {
    text-align: justify !important;
}

.itemInfo .p-adr {
    padding-right: 10px !important;
}

.guide-block-review-single,
.news-item-block-horizontal-box {
    background-color: #E4E4E4;
}

/* custom block */
.news-item-block-image {
    position: relative;
}

.news-item-block-image .news-item-block-image-text {
    background: rgba(0, 0, 0, .5);
    padding: 10px;
    color: #fff;
    position: absolute;
    margin-top: -90px;
    height: 90px;
    width: 100%;
    max-width: 510px;
}

@media (max-width: 767px) {
    .news-item-block-image .news-item-block-image-text {
        width: 90%;
        max-width: 95%;
    }
}

.news-item-block-image .news-item-block-image-text a {
    color: #fff;
}

.news-item-block-image img {
    min-height: 375px;
    width: 100%;
}

.news-item-block-horizontal .news-item-block-horizontal-box {
    background-color: #E4E4E4;
    text-align: center;
    color: #5E5E5E;
}

.news-item-block-horizontal .news-item-block-horizontal-box h3,
.news-item-block-horizontal .news-item-block-horizontal-box h3 a {
    color: #4E4E4E;
}

.news-item-block-horizontal .news-item-block-horizontal-box img {
    background-color: #ACACAC;
    padding: 5px;
}

.news-item-block-horizontal .news-item-block-summary {
    padding: 10px;
    min-height: 190px;
    text-align: right;
}

.news-item-block-horizontal .news-item-block-story-more {
    background-color: #E70D0C;
    padding: 10px;
    color: #fff;
}

.news-item-block-horizontal .news-item-block-story-more a {
    color: #fff;
}

.guide-block .guide-block-vertical .row {
    margin-right: 0;
    margin-left: 0;
}

.guide-block .guide-block-vertical-single {
    margin-bottom: 10px;
    background-color: #EBEBEB;
}

.guide-block .col-md-6 .guide-block-vertical-single {
    margin-left: 15px;
}

.guide-block .guide-block-vertical-single .itemSummary {
    padding: 10px;
}

.guide-block .guide-block-vertical-single h3 {
    background-color: #E70D0C;
    padding: 10px;
    color: #fff;
}

.guide-block .guide-block-vertical-single h3 a {
    color: #fff;
}

.guide-block .guide-block-vertical-single .col-xs-4 img {
    border-radius: 0 !important;
    height: 110px;
    width: 100%;
}

.guide-block .guide-block-vertical-single .col-xs-4 {
    padding-left: 0;
    padding-right: 0;
}

.guide-block .guide-block-vertical-single .col-xs-8 {
    padding-left: 0;
    padding-right: 0;
}

.event-block .recent-event-single {
    border-bottom: 0;
    text-align: center;
}

@media (min-width: 767px) {
    .event-block .recent-event-single img {
        width: 100%;
        height: 140px;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .event-block .recent-event-single img {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.event-block .recent-event-single .event-time {
    background-color: #E70D0C;
    padding: 10px;
    color: #fff;
}

.event-block .recent-event-single .recent-event-single-caption {
    background-color: #E70D0C;
    padding: 10px;
    color: #fff;
}

.event-block .recent-event-single .recent-event-single-caption a {
    color: #fff;
}

.event-block .recent-event-single .recent-event-single-title {
    min-height: 40px;
}

.event-block .recent-event-single .event-price {
    padding: 10px 0;
}

.event-block .recent-event-single .event-discount {
    font-size: 20px;
    font-weight: bold;
}

.guide-block-review-single {
    background-color: #EBEBEB;
    text-align: center;
    padding: 10px 10px 0 10px;
}

.guide-block-review-single .guide-block-review-single-item {
    background-color: #E70D0C;
    color: #fff;
    padding: 10px;
    margin: 0 -10px !important;
}

.guide-block-review-single .guide-block-review-single-item a {
    color: #fff;
}

.guide-block-review-single .guide-block-review-single-title {
    min-height: 50px;
}

.guide-block-review-single .guide-block-review-single-avatar img {
    background: #fff;
    padding: 5px;
    margin: 25px 0;
}

.guide-block-review-single .guide-block-review-single-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.item-angular-single {
    margin-bottom: 50px;
}

.item-ribbon {
    font-weight: 400 !important;
    font-size: 12px !important;
}

.item-ribbon p span {
    right: -50px !important;
    top: 20px !important;
    width: 160px !important;
    padding: 3px 6px !important;
}